body {
    margin: 0;
    font-family: 'Ajou';
    background-color: black;
    overflow-x: hidden;
}


@font-face {
    font-family: "Ajou";
    src: url(AjouTTF.ttf);
}

.one {
    background: linear-gradient(#2e51fe 90%, black);
    height: 77vh;
}

.top {
    margin-top: 0px;
}


.AJOU {
    margin-top: 20vh;
}

.bottom {
    margin-bottom: 20vh;
}

h1 {

    padding: 0.25rem;
    display: flex;
    color: #ffce1b;
    text-align: center;
    justify-content: center;
    word-spacing: normal;

}

a {
    text-decoration: none;
    color: #ffce1b;
}

.second {
    background-color: black;
    height: 23vh;
}

@keyframes moveSlide {

    from { transform: translateX(0); }
        to { transform: translateX(-50.5%); } 

}



@media (max-width: 1230px) {
    
    @keyframes moveSlide {

        from { transform: translateX(0); }
            to { transform: translateX(-50.7%); } 
    
    }
}




#slide {

    position: absolute;
    min-width: 50%;
    max-height: 50px;
    animation-name: moveSlide;
    animation: moveSlide 11s linear infinite;
    flex-wrap: nowrap;

}


#slideText {

    word-spacing: 20px;
    font-size: 10vmin;
    margin-top: 5vh;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  
}


.ajouLogo {
    display: flex;
    justify-content: center;
    margin-top: 0px;

}

.logoSize {
    width: 40%;
    height: auto;
}

.title {

    font-size: 17vw;
    line-height: 0.87;

}


.third {
    background-color: black;
    height: 100vh;
    margin-top: 10vmin;
}


.line {
    height: 3.7px;
    background-color: #ffce1b;
}

h2 {
    color: #ffce1b;
}

.smallAjou {
    margin-left: 3vmin;
}
