body {
    margin: 0px;
    overflow-y: scroll;
}

.container-1 {
    background-color: #3697FE;
    overflow-y: scroll;
    height: 100vh;
}

.container-2 {

    overflow-y: scroll;
    height: 100vh;
}



h1 {
    text-align: center;
    color: #FED436;
}