body {
    margin: 0px;
    font-family: 'Ajou';

}


@font-face {
    font-family: "Ajou";
    src: url(AjouTTF.ttf);
}

.one {
    background-color: #3697FE;
    height: 100vh;
}

.top {
    margin-top: 0px;
}


.AJOU {
    margin-top: 30vh;
}

.bottom {
    margin-bottom: 20vh;
}

h1 {
    padding: 0.25rem;
    display: flex;
    color: #ffce1b;
    text-align: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #ffce1b;
}

.second {
    background-color: black;
}

@keyframes moveSlide {

    0% { transform: translateX(-98%); }
    100% { transform: translateX(100%); }

}

.slide {
    display: flex;
    flex: none;
    justify-content: center;
    min-width: 100%;
    animation-name: moveSlide;
    animation: moveSlide 11s linear infinite;
    animation-delay: 0s;
    

}

.slideText {
    word-spacing: 20px;
    font-size: 11vh;
  

}

.third {
    background-color: black;
}


.ajouLogo {
    display: flex;
    justify-content: center;
    margin-top: 0px;

}

.logoSize {
    width: 40%;
    height: auto;
}

.title {

    font-size: 17vw;
    line-height: 0.87;

}


.comment {
    margin-left: 1vh;
    font-size: 0.87vw;
    line-height: 1;
}
